{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Pays</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
{% endblock %}